name: Check Symbol-Header Synchronization

on:
  pull_request:
    paths:
      - 'symbols/**.yml'
      - 'headers/functions/**.h'
      - 'headers/data/**.h'
      - 'headers/symbol_check.py'
    branches:
      - master
  workflow_call:

jobs:
  sync-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Symbol sync check
        run: make -C headers symbol-check
